fastapi          # Web framework for building APIs
uvicorn          # ASGI server to run FastAPI apps
httpx            # Async HTTP client
selectolax       # Fast HTML parser based on lexbor
pytz
python-multipart    # input upload file
pymupdf